
@use '../base/variables';
@media (min-width: 576px) and (max-width: 767px) {
//Exclusiones
.tabletframe{
    display: variables.$no-disponible;
    }
//zona header
header{
    #navdesktop{
        display: variables.$no-disponible;
        }
    #navmobile{
        display: inline;
        margin-bottom: 100px;
        .offcanvas-title{
            justify-content: variables.$centrar-all;
            text-align: variables.$centrar-all;
            width: 100%;
            }
        .navbar-brand{
            @include variables.navbar-brand_mobile();
            }
        .logo_nav{
            margin-left: 15%;
            width: 40vw;
            }    
        }
    }

//main
.FormatoTitulo{
    @include variables.formatoTitulo_mobile();
    }
//zona contacto
.gridContentContac {
    display: grid;
    grid-template-columns: 1fr;
    .gridItem {
        @include variables.gridItem_mobile();              
        }
    }
//zona personalizar
.gridcontent_pers{
    @include variables.gridcontent_pers_mobile();
    .gridresponmin_item{
        grid-column: 1 / span 2;
        grid-row: auto;
        }  
    }
//zona nosotros
.sectionNosotros{
    @include variables.nosotros_mobile();
    .fotoNosotros{
        margin: variables.$auto-all;
        max-width: variables.$mitad_porcen;
        }
    .textoespecial{
        @include variables.textoespecial_mobile();
        }
    }    
}    
