@media (max-width: 575px) {
//VARIABLES
$size-img-logo:50px;
$fuente-h2-3:'pacifico';
$size-texto-2-3: 0.8rem;
$color-textonav: rgba(210, 2, 148, 0.668);
$align-centertext:center;
$size-img-gen:150px;
$padd-textoa: 0px;



//MIXIN
@mixin textoa {
    display: inline-block;
    font-family: $fuente-h2-3;
    color: $color-textonav;
    font-size: $size-texto-2-3;
    padding-inline: $padd-textoa;
   
    
}

@mixin imagen{
    display: inline;
    width: 100%;
    margin: 30px;
    justify-content: center;
    width: $size-img-gen;
    height: $size-img-gen;
}
.FormatoTitulo{
    margin-top: 100px;
    font-size: 10vw;
}
header{
    #navdesktop{
        display: none;
    }
}

.tabletframe{
    display: none;
}
.gridContentContac {
    display: grid;
    grid-template-columns: 1fr;
    .gridItem {
        margin: 25px;
        padding: 25px;   
        transition: 0.5s;
        &:hover{
         transform: scale(1.4);
        }          
    }
}
.gridcontent_pers{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) ;

    grid-gap: 25px;
    .gridresponmin_item{
        grid-column: 1 / span 2;
        grid-row: auto;
        img{
            width: 300px;
            height: 300px;
            max-width: auto;
        }
        &:hover {
            transform: none;
        }
    }  
}

.sectionNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .fotoNosotros{
        margin: auto;
        max-width: 50%;
        

        
    }
    .textoespecial{
        display: inline;
        margin: auto;
        margin-top: 30px;
        justify-content: center;
        text-align: center;
        font-size: 3vh;
        font-family: 'pacifico';
        padding: 5px;
        max-width: 90%;

        

    }

}
#navmobile{
    display: inline;
    margin-bottom: 100px;

    .navbar-brand{
        display: block;
        margin-left: auto;
        text-align: center;
        color: rgba(210, 2, 148, 0.668);
        width: 70%;
        max-width: 70%;
        font-size: 3vw;
        
    }
}
}
