@media (min-width: 768px) and (max-width: 1236px) {
//VARIABLES
$size-img-logo:1vw;
$fuente-h2-3:'pacifico';
$size-texto-2-3: 2vw;
$color-textonav: rgba(210, 2, 148, 0.668);
$align-centertext:center;
$size-img-gen:200px;
$padd-textoa: 5px;


//MIXIN
@mixin textoa {

    font-family: $fuente-h2-3;
    color: $color-textonav;
    font-size: $size-texto-2-3;
    padding-inline: $padd-textoa;  

}

@mixin imagen{
    width: $size-img-gen;
    height: $size-img-gen;
    transition: 1s;
    &:hover {
        transform: scale(1.5);
    }
}

header{
    nav{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        img {
            @include imagen();
        }
        ul{
            margin-top: 80px;
            text-align: $align-centertext;
            li {
                display: inline-flex;
                margin: 5px;
                
                a {                
                   @include textoa();
                  
                }transition: 0.5s;
                &:hover {
                    transform: scale(1.5);
                }
            }
            
        }
        .logo{
            grid-column: 1 /  span 2;
            grid-row: 1 / span 2;
            padding-top: 30px ;
            width: 15vw;
            height: 15vw;
        }
        .navegacion{
            grid-column: 2 / span 6;
            grid-row: 1 / span 2;
        }
    }
}
.gridContentContac {
    display: grid;
    grid-template-columns: 1fr;
    .gridItem {
        margin: 25px;
        padding: 25px;   
        transition: 0.5s;
        &:hover{
         transform: scale(1.4);
        }          
    }
}
.gridcontent_pers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr) ;
    grid-gap: 25px;
    .gridresponmin_item{
        grid-column: auto;
        grid-row: auto;
        img{
            width: 300px;
            height: 300px;
            max-width: auto;
            margin-bottom: 25px;
        }
    }  

}    

}