@use '../base/variables';
@media (min-width: 768px) and (max-width: 1236px) {

//exclusiones
#navmobile{
    display: none;
    }
.FormatoTitulo{
    font-size: 10vw;
}

 //zona header nav,etc   
header{
    #navdesktop{
        nav{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: 1fr;
            img.logo {
                width: 150px;
                height: 150px;
                transition: 0.5s;
                &:hover {
                    transform: scale(1.1);
                    }
                
                }
            ul{
                margin-top: 5vw;
                padding-left: 0px;
                text-align: variables.$centrar-all;
               
                li {
                    display: inline-flex;
                    margin: 5px;
                    a{
                        @include variables.textolink();
                        padding-left: 0px;
                        font-size: 2.5vw;
                        }
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.5);
                        }
                    }
                }
            .logo{
                grid-column: 1 /  span 2;
                grid-row: 1 / span 2;
                }
            .navegacion{
                grid-column: 2 / span 6;
                grid-row: 1 / span 2;
                }
            }
        }
    } 
//zona contacto
.gridContentContac {
    display: grid;
    grid-template-columns: 1fr;
    .gridItem {
        margin: 25px;
        padding: 25px;   
        transition: 0.5s;
        &:hover{
            transform: scale(1.4);
            }          
        }
    }
 //zona personalizar   
 
main{
    h1.FormatoTitulo{
        @include variables.hches();
        font-size: 390%;
        margin-bottom: 3%;
    }
    .gridcontent_pers{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr) ;
        grid-gap: 25px;
        .gridresponmin_item{
            grid-column: auto;
            grid-row: auto;
            img{
                width: 250px;
                height: 250px;
                border-radius: 50px;
                max-width: auto;
                }    
            transition: 0.3s;
            &:hover {
                transform: scale(1.7);
                }
            }
        }
    
}
    main section .Agendasiframe{
        display: grid;
        grid-template-columns: repeat(3, 3);
        grid-template-rows: 0.4fr 1.5fr;

        .h2catalogo{
            grid-column: 1/4;
            grid-row: 1/2;
            @include variables.estiloshsection();
            padding-top: 1%;
            padding-bottom: 1%;
            background-color: white;
            border: 3px solid #f79ce2;
            border-radius: 25px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
        iframe{
            margin-left: auto;
            margin-right: auto;
            max-width: 70%;
            max-width: 90%;
        }
    }

}
