@use '../base/variables';
@media (min-width: 768px) and (max-width: 1236px) {

//exclusiones
#navmobile{
    display: none;
    }
.FormatoTitulo{
    font-size: 10vw;
}

 //zona header nav,etc   
header{
    #navdesktop{
        nav{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: 1fr;
            img {
                @include variables.imagen();
                }
            ul{
                margin-top: 5vw;
                padding-left: 0px;
                text-align: variables.$centrar-all;
               
                li {
                    display: inline-flex;
                    margin: 5px;
                    a{
                        @include variables.textolink();
                        padding-left: 0px;
                        }
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.5);
                        }
                    }
                }
            .logo{
                grid-column: 1 /  span 2;
                grid-row: 1 / span 2;
                }
            .navegacion{
                grid-column: 2 / span 6;
                grid-row: 1 / span 2;
                }
            }
        }
    } 
//zona contacto
.gridContentContac {
    display: grid;
    grid-template-columns: 1fr;
    .gridItem {
        margin: 25px;
        padding: 25px;   
        transition: 0.5s;
        &:hover{
            transform: scale(1.4);
            }          
        }
    }
 //zona personalizar   
.gridcontent_pers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr) ;
    grid-gap: 25px;
    .gridresponmin_item{
        grid-column: auto;
        grid-row: auto;
        img{
            @include variables.img_desktop();
            }
        }  

    }    
}
