# Ignorar archivos de configuración específicos del sistema
.vscode/
.idea/

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar directorios y archivos de dependencias
node_modules/
bower_components/

# Ignorar archivos de compilación y construcción
/dist/
/build/
*.dll
*.exe

# Ignorar archivos de logs
*.log

# Ignorar archivos de entorno y configuración local
.env
.env.local
.env.*.local

# Ignorar archivos de respaldos
*.bak
*.backup
*.swp
*~

# Ignorar archivos de caché
.cache/

# Ignorar archivos de dependencias de package manager
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar la carpeta node_modules
node_modules/

# Ignorar ciertas partes del archivo package.json
package-lock.json
npm-debug.log
.env


# Ignorar el archivo package.json
package.json

