@use '../base/variables';
main {

    justify-content: variables.$centrar-all;
    text-align: variables.$centrar-all;
    h1{
        @include variables.hches();
    }
    p{
        @include variables.parrafos();
    }
    section{
        h2{
            @include variables.estiloshsection();
        }
        div{
            img{
                width: variables.$gordo-normal;
            }
        }  
    }
}