@use '../base/variables';
.gridContentContac {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    .gridItem {
        @include variables.gridItem_mobile();             
        }
    }
