.gridContentContac {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    .gridItem {
        margin: 25px;
        padding: 25px;   
        transition: 0.5s;
        &:hover{
         transform: scale(1.4);
        }          
    }
}