@use '../base/variables';
.sectionNosotros{
    display: flex;
    flex-direction: column;
    justify-content: variables.$centrar-all;
    text-align: variables.$centrar-all;
    .fotoNosotros{
        margin: variables.$auto-all;
        max-width: 50%;  
        }
    .textoespecial{
        @include variables.textoespecial_mobile();
        font-size: 5vh;
        max-width: 70%;
        }

}
