.sectionNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .fotoNosotros{
        margin: auto;
        max-width: 50%;

        
    }
    .textoespecial{
        display: inline;
        margin: auto;
        margin-top: 30px;
        justify-content: center;
        text-align: center;
        font-size: 5vh;
        font-family: 'pacifico';
        padding: 5px;
        max-width: 70%;
        color: rgb(44, 8, 8);
        

    }

}
