.gridcontent_pers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr) ;
    grid-gap: 25px;
    margin-bottom: auto;
    .gridresponmin_item{
        grid-row: 1 / span 2;
        padding: 1vw;
        img{
            width: 300px;
            height: 300px;
            border-radius: 50px;
            max-width: auto;
            }    
        transition: 0.3s;
        &:hover {
            transform: scale(1.7);
            }
        }  
    }