//VARIABLES
$display-flexbody: flex;
$align-centertext:center;
$color-texto-fondo: #f79ce2;
$ancho-horizon: 100%;
$Style-font: 'oblique';
$alto-main: 850px;
$url-background:url(/img/fondo_imprebook.png);
$background-posicion: cover;
$difle-direccion: column;

@font-face {
    font-family: 'Imprebooks';
    src: url(/font/ImprebooksFont.otf);
    font-weight: bold;
}

//MIXIN 
@mixin m-footer{
    width: $ancho-horizon;
    text-align: $align-centertext;
    font-style: $Style-font;
    background: linear-gradient(to bottom, #ffffff, #f79ce2);
    font-size: 10px;
    
}
@mixin m-body{
    display: $display-flexbody;
    flex-direction: $difle-direccion; /* Cambiado a columna para alinear verticalmente */
    align-items: $align-centertext; /* Centra horizontalmente todo el contenido */
    background-image: $url-background ;
    background-size: $background-posicion;
    background-position: $align-centertext;
}


body {
    @include m-body();
    main{
        min-height: $alto-main; /* Establece una altura mínima de 600px para el cuerpo */
    }
    .icono-wsp{
        position: fixed;
        right: 25px;
        bottom: 45px;
        transition:1s;
        &:hover{
            transform: scale(1.2);
        }
    }
    footer {
        
        @include m-footer();
        
    }
}